.navbar-brand {
  font-family: $font-family-serif;
  font-size: $font-size-base + 8;
  @media only screen and (min-width: $screen-sm-min) {
    font-size: $font-size-base + 14;
  }
  height: unset;
  > img.ldc-nav-brand {
    display: inline;
  }
}

.navbar-brand {
  .navbar > .container &,
  .navbar > .container-fluid & {
    margin-left: 0px;
  }
}

.navbar-collapse {
  @media screen and (min-width: $screen-sm-min) {
    padding-left: 0px;
  }
}

.navbar-toggle {
  margin-top: 15px;
  margin-bottom: 15px;
}

#ldc-primary-nav {
  font-size: $font-size-base + 2;
}

.navbar-nav {

  // The dropdown menu (ul)
  .dropdown-menu {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: $dropdown-border;
    // Links within the dropdown menu
    > li > a {
      &:hover,
      &:focus {
        background-color: inherit;
        box-shadow: inset 0 1px 3px darken($dropdown-bg, 50%);
        @include gradient-vertical($start-color: darken($dropdown-bg, 10%), $end-color: $dropdown-bg);
        border-color: darken($dropdown-bg, 10%);
      }
    }
  }
}