// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$brand-primary:         #01256e !default;
$gray-base:             #131315 !default;
$light-base:            #e5e5e5;

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:           30px !default;

// Large screen / wide desktop
$container-large-desktop:      (1010px + $grid-gutter-width) !default;
// Medium screen / desktop
$screen-md-min:              992px !default;

// Navbar
$navbar-default-bg:                       $brand-primary;
$navbar-default-link-color:               $light-base;
$navbar-default-link-hover-color:         darken($navbar-default-link-color, 10%) !default;
$navbar-default-link-active-color:        darken($navbar-default-link-color, 5%) !default;
$navbar-default-link-active-bg:           $navbar-default-bg;
$navbar-border-radius:                    0 !default;
$navbar-height:                           75px !default;
$navbar-padding-vertical:                 15px  !default;

//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg: $brand-primary;

//** Dropdown link text color.
$dropdown-link-color: $navbar-default-link-color;
//** Hover color for dropdown links.
$dropdown-link-hover-color: $navbar-default-link-hover-color;

//** Active dropdown menu item text color.
$dropdown-link-active-color: $navbar-default-link-active-color;

//** Active dropdown menu item background color.
$dropdown-link-active-bg: $navbar-default-link-active-bg;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-md-min !default;

//== Typography
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Domine", Georgia, "Times New Roman", Times, serif !default;

// layout
$content-max-width: 700px;

